# Dependencies
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Database
data/*.db-journal
data/*.sqlite
data/*.sqlite3

# OS files
.DS_Store
Thumbs.db
